
        header {
            display: flex;
            justify-content: space-between; /* separa os elementos */
            align-items: center; /* alinha verticalmente */
        }

        .name {
            font-weight: bold;
        }

        nav {
            display: flex;
            gap: 20px; /* espaço entre os links */
        }

        .title {
            text-align: center;
            font-family: Times New Roman, serif;
        }

        body {
            font-family: Arial, sans-serif;
            max-width: 1100px;
            margin: 0 auto;
            margin-top: 15px;
            border: 2px solid black;
            padding: 30px;
            background-color: #e5eef7;
        }
        
        .content {
            display: flex;
        }

        .projects,
        .education,
        .recommendations {
            border: 2px solid black;
            padding: 10px;
            flex: 1; /* divide igualmente o espaço */
            margin: 0.5px; /* espaço entre as seções */
            text-align: justify;
        }

        hr{
            border: 2px solid black;
        }

        footer {
            text-align: center;
            margin-top: 30px;
            padding-top: 15px;
        }